
extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = lobby

block body

  include ./lobby/sub-nav.pug

  #grid-container
    #main-wrapper.main-wrapper
      #main.main
      
        -// Display the slices
        for slice in lobby.data.body
          case slice.slice_type
            when 'banner'
              include ./lobby/banner.pug
            when 'featured_section'
              include ./lobby/featured-section.pug
      
        include ./lobby/betfair-casino.pug
  .clear