.clearfix
  #guide-record-0.guide-record.stick(style='display: block; top: 1118px;')
    a(href='http://guide.paperjam.lu/biographie/jean-claude-juncker', target='_blank')
      img(src='http://paperjam.lu/sites/default/files/styles/120_120_echelle_recadrage/public/old-files/guide/biographies/jean-claude-juncker-713-646513644.jpg?itok=JP25tq7u', alt='Jean-Claude Juncker')
      .name Jean-Claude Juncker
      .link Biographie