.row
  .col-md-12.uc
    #breadcrumb
      h2.element-invisible Vous êtes ici
      .breadcrumb
        a#custom-breadcrumbs-home.even(href='/') Accueil
        a.custom-breadcrumbs-item-1.odd(href='/luxembourg') Luxembourg
        span.breadcrumb-separator  » 
        a.custom-breadcrumbs-item-2.even(href='/luxembourg/europe') Europe
      .clearfix