.node-sidebar.pull-right.clear
  #block-views-top-5-block-sidebar.block.block-views
    hr.top-line
    h2.block-title.uc
      span Top 5 des plus lus
    .content
      .view.view-top-5.view-id-top_5.view-display-id-block_sidebar.view-dom-id-8d0335bcfe099d11a007e911bddd6639
        .view-content
          .views-row.views-row-1.views-row-odd.views-row-first
            article.node.node-news.node-promoted.pj_teaser_top5.teaser.clearfix
              .cover
                a.cover-image-link(href='/news/brexit-barnier-se-prepare-a-un-no-deal')
                  img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/news/2017/11/barnier_davisbrexit.jpg?itok=djVTZrxg&sc=b50ba7a99375cde5e5568147f9525560&ctok=1510554781', width='65', height='65', alt="David Davis, le ministre britannique chargé du Brexit et Michel Barnier, négociateur en chef de l'Union européenne.", title='Le Royaume-Uni, représenté à gauche par David Davis, ministre britannique chargé du Brexit, et l’Union européenne, représentée par Michel Barnier, ont du mal à s’entendre.')
              .inner
                .categs-wrapper
                  .content-type.uc
                    a(href='http://paperjam.lu/news') News
                  .category.uc
                    .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                      ul.links
                        li.taxonomy-term-reference-0
                          a(href='/luxembourg/europe') Europe
                  .clearfix
                .properties
                  .title
                    h2
                      a(href='/news/brexit-barnier-se-prepare-a-un-no-deal')
                        | Brexit: Barnier se prépare à un «no 
                        .break-title
                          | deal» 
                          span.picto.first-picto
                            img(src='http://paperjam.lu/sites/default/files/styles/picto_title_14_echelle/public/video.png?itok=GTHee41z', alt='Vidéo', title='Vidéo')
                  span.date.uc.clearfix  05:51 
                  .clearfix
          .views-row.views-row-2.views-row-even
            article#node-161192.node.node-news.node-promoted.pj_teaser_top5.teaser.no-picture-on-homepage.clearfix
              .cover
                a.cover-image-link(href='/news/quel-futur-pour-le-travail')
                  img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/news/2017/11/1007_travail.jpg?itok=dpPL6yZs&sc=a71312da127beffb8ae3cd32178cc07f&ctok=1510582190', width='65', height='65', alt='Michel Wurth (Chambre de commerce), Nicolas Schmit (ministre du Travail) et Jean-Claude Reding (Chambre des salariés).', title='Michel Wurth (UEL), Nicolas Schmit (ministre du Travail) et Jean-Claude Reding (Chambre des salariés).')
              .inner
                .categs-wrapper
                  .content-type.uc
                    a(href='http://paperjam.lu/news') News
                  .category.uc
                    .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                      ul.links
                        li.taxonomy-term-reference-0
                          a(href='/luxembourg/societe') Société
                  .clearfix
                .properties
                  .title
                    h2
                      a(href='/news/quel-futur-pour-le-travail') Quel futur pour le travail?
                  span.date.uc.clearfix  08:39 
                  .clearfix
          .views-row.views-row-3.views-row-odd
            article#node-161184.node.node-news.node-promoted.pj_teaser_top5.teaser.clearfix
              .cover
                a.cover-image-link(href='/news/juncker-loin-de-ses-concitoyens')
                  img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/news/2017/11/juncker_liberation.jpg?itok=XNktL2i4&sc=b18dec1a4344846569a0d191f1420d03&ctok=1510557603', width='65', height='65', alt='Jean-Claude Juncker ', title='Libération regrette l’absence de Jean-Claude Juncker des médias francophones.')
              .inner
                .categs-wrapper
                  .content-type.uc
                    a(href='http://paperjam.lu/news') News
                  .category.uc
                    .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                      ul.links
                        li.taxonomy-term-reference-0
                          a(href='/luxembourg/europe') Europe
                  .clearfix
                .properties
                  .title
                    h2
                      a(href='/news/juncker-loin-de-ses-concitoyens') Juncker, loin de ses concitoyens?
                  span.date.uc.clearfix  05:06 
                  .clearfix
          .views-row.views-row-4.views-row-even
            article#node-161194.node.node-news.node-promoted.pj_teaser_top5.teaser.clearfix
              .cover
                a.cover-image-link(href='/news/la-revue-de-presse-de-leco-du-13-novembre')
                  img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/news/2017/11/marc_fiorentino.png?itok=qJ5cV30O&sc=72a8c1db0d8494a3ce7a2bf62075c279&ctok=1510579449', width='65', height='65', alt='Fiorentino 13 novembre', title='')
              .inner
                .categs-wrapper
                  .content-type.uc
                    a(href='http://paperjam.lu/news') News
                  .category.uc
                    .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                      ul.links
                        li.taxonomy-term-reference-0
                          a(href='/luxembourg/international') International
                  .clearfix
                .properties
                  .title
                    h2
                      a(href='/news/la-revue-de-presse-de-leco-du-13-novembre')
                        | La revue de presse de l’éco du 13 
                        .break-title
                          | novembre 
                          span.picto.first-picto
                            img(src='http://paperjam.lu/sites/default/files/styles/picto_title_14_echelle/public/video.png?itok=GTHee41z', alt='Vidéo', title='Vidéo')
                  span.date.uc.clearfix  09:51 
                  .clearfix
          .views-row.views-row-5.views-row-odd.views-row-last
            article#node-161178.node.node-news.node-promoted.pj_teaser_top5.teaser.no-picture-on-homepage.clearfix
              .cover
                a.cover-image-link(href='/news/lallocation-de-vie-chere-elargie')
                  img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/news/2017/11/allocationviechere.jpg?itok=rv6noVhA&sc=eebb2e3e23dbec1170c108c386fb5abc&ctok=1510559541', width='65', height='65', alt='Allocation de vie chère Luxembourg.', title='L’allocation de vie chère concernait jusqu’ici quelque 20.000 ménages.')
              .inner
                .categs-wrapper
                  .content-type.uc
                    a(href='http://paperjam.lu/news') News
                  .category.uc
                    .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                      ul.links
                        li.taxonomy-term-reference-0
                          a(href='/luxembourg/politique') Politique
                  .clearfix
                .properties
                  .title
                    h2
                      a(href='/news/lallocation-de-vie-chere-elargie') L’allocation de vie chère élargie
                  span.date.uc.clearfix  12.11.2017 
                  .clearfix
    hr.bottom-line