.meta
  span.date.uc aujourd'hui
  span.date.uc  05:51 
  .author
    | Par 
    a(href='#') Thierry Raizer
  .clearfix
#block-sharebar-sharebar
  #sharebar-wrapper(style='')
    #sharebar-sticky-centered-wrapper
      #sharebar-sticky-shadow
        ul.share.share-bar.list-unstyled.clearfix(data-shared-url='http%3A%2F%2Fpaperjam.lu%2Fnews%2Fbrexit-barnier-se-prepare-a-un-no-deal', data-nid='161186')
          li.is-fa-icon
            a.share-icon.facebook(onclick="shareUrl('https://www.facebook.com/sharer/sharer.php?u=','http://paperjam.lu/news/brexit-barnier-se-prepare-a-un-no-deal');", title='Facebook')
              span.share-count 4
              i.fa.fa-facebook
          li.is-fa-icon
            a.share-icon.twitter(onclick="shareUrl('http://twitter.com/share?text=Brexit%3A%20Barnier%20se%20pr%C3%A9pare%20%C3%A0%20un%20%C2%ABno%20deal%C2%BB&via=Paperjam_lu&url=','http://paperjam.lu/news/brexit-barnier-se-prepare-a-un-no-deal');", title='Twitter')
              span.share-count
              i.fa.fa-twitter
          li.is-fa-icon
            a.share-icon.linkedin(onclick="shareUrl('https://www.linkedin.com/cws/share?url=','http://paperjam.lu/news/brexit-barnier-se-prepare-a-un-no-deal');", title='Linkedin')
              span.share-count
              i.fa.fa-linkedin
          li.is-fa-icon
            a.share-icon.gplus(onclick="shareUrl('https://plus.google.com/share?url=','http://paperjam.lu/news/brexit-barnier-se-prepare-a-un-no-deal');", title='Google+')
              span.share-count
              i.fa.fa-google-plus
          li.is-fa-icon
            a.share-icon.email(href='mailto:?subject=Suggestion%3A%20%22Brexit%3A%20Barnier%20se%20pr%C3%A9pare%20%C3%A0%20un%20%C2%ABno%20deal%C2%BB%22%20%28Paperjam.lu%29&body=Bonjour%2C%20je%20vous%20recommande%20la%20lecture%20de%20cet%20article%20paru%20sur%20Paperjam.lu%20%3A%20http%3A%2F%2Fpaperjam.lu%2Fnews%2Fbrexit-barnier-se-prepare-a-un-no-deal.', title='Paperjam - Email')
              span.share-count
              i.fa.fa-envelope-o
          li.is-fa-icon
            a.share-icon.emailc(href='mailto:?subject=Suggestion%3A%20%22Brexit%3A%20Barnier%20se%20pr%C3%A9pare%20%C3%A0%20un%20%C2%ABno%20deal%C2%BB%22%20%28Club%20Paperjam%29&body=Bonjour%2C%20je%20vous%20recommande%20cet%20%C3%A9v%C3%A8nement%20paru%20sur%20le%20Club%20Paperjam%20%3A%20http%3A%2F%2Fpaperjam.lu%2Fnews%2Fbrexit-barnier-se-prepare-a-un-no-deal.', title='Club - Email')
              span.share-count
              i.fa.fa-envelope-o