.tags
  a(href='/personnes/michel-barnier') Michel Barnier
  a(href='/personnes/teresa-may') Teresa May
  a(href='/personnes/jean-claude-juncker') Jean-Claude Juncker
  a(href='/personnes/david-davis') David Davis
  a(href='/societes-institutions/conseil-europeen') Conseil européen
  a(href='/societes-institutions/omc') OMC
  a(href='/societes-institutions/journal-du-dimanche') Journal du Dimanche