section#after-content-wrapper.container-fluid
  .container
    #after-content.row
      .col-md-8
        .region.region-after-content.row
          #block-views-pj-homepage-pj-home-entreprises.block.block-views.col-md-4
            hr.top-line
            h2.block-title.uc
              span
                a(href='/entreprises')
                  | Entreprises
            .content
              .view.view-pj-homepage.view-id-pj_homepage.view-display-id-pj_home_entreprises.toto.view-dom-id-5be837d4c772fc257a49476b1c910a56
                .view-content
                  .views-row.views-row-1.views-row-odd.views-row-first
                    article#node-161170.node.node-news.node-promoted.node-teaser.teaser.no-picture-on-homepage.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/news/collaboration-en-vue-entre-snapchat-et-wechat')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/news/2017/11/spectacles.png?itok=IRwibZDD&sc=f07f731f79d6eca6711e24ebf21dccb5&ctok=1510558647', width='200', height='133', alt='Snapchat Spectacles', title='Malgré ses innovations récentes, comme le lancement de ses «Spectacles», Snapchat reste en proie à des résultats décevants, et espère tirer des enseignements d’une éventuelle collaboration avec son homologue asiatique Wechat.')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/news') News
                            span.category.uc
                              a(href='/entreprises/ict') ICT
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/news/collaboration-en-vue-entre-snapchat-et-wechat')
                                | Collaboration en vue entre Snapchat et 
                                .break-title
                                  | Wechat 
                                  span.picto.first-picto
                                    img(src='http://paperjam.lu/sites/default/files/styles/picto_title_16_echelle/public/video.png?itok=7QRFeG4s', alt='Vidéo', title='Vidéo')
                          .extended-wrapper
                            span.date.uc
                              | 06:00
                            .clearfix
                            .clearfix
                  .views-row.views-row-2.views-row-even
                    article#node-161138.node.node-paperjam-video.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/videos/bernardo-fort-brescia-combiner-emotion-et-rationnel')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/paperjam_video/2017/11/capture_decran_2017-11-10_a_20.15.35.png?itok=-UraXfZl&sc=ab187721b0193df36f364f442a71aef5&ctok=1510554898', width='200', height='133', alt='', title='')
                            .picto_ct.play_40x40
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/videos') Vidéos
                            span.category.uc
                              a(href='/videos/10x6-orateur') 10x6 Orateur
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/videos/bernardo-fort-brescia-combiner-emotion-et-rationnel') Bernardo Fort-Brescia: «Combiner émotion et rationnel»
                          .extended-wrapper
                            span.date.uc
                              | 11.11.2017
                            .clearfix
                            .clearfix
                  .views-row.views-row-3.views-row-odd
                    article#node-161134.node.node-news.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/news/que-la-radio-ne-perde-pas-le-contact-avec-ses-auditeurs')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/news/2017/11/david_gloesener.jpg?itok=NCpzgPgK&sc=85e88435e5efd8c5738c48a5d117c70b&ctok=1510512746', width='200', height='133', alt='David Gloesener (Eldoradio)', title='David Gloesener: «Nous devons parler avec les gens, pas à côté d’eux.»')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/news') News
                            span.category.uc
                              a(href='/entreprises/communication') Communication
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/news/que-la-radio-ne-perde-pas-le-contact-avec-ses-auditeurs') «Que la radio ne perde pas le contact avec ses auditeurs»
                          .extended-wrapper
                            span.date.uc
                              | 10.11.2017
                            .clearfix
                            .clearfix
                  .views-row.views-row-4.views-row-even
                    article#node-161118.node.node-communique-de-presse.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/communique/bilan-mitige-pour-aperam-a-cause-dune-panne-technique')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/communique_de_presse/2017/11/aperam.jpg?itok=3fayteOU&sc=6e745f104f99e7160b76ad1faa36938a&ctok=1510316834', width='200', height='133', alt='La panne technique survenue à l’usine de laminage à chaud de Châtelet est désormais entièrement résolue tant d’un point de vue opérationnel.', title='La panne technique survenue à l’usine de laminage à chaud de Châtelet est désormais entièrement résolue, tant d’un point de vue opérationnel que d’un point de vue financier.')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/communique-de-presse') Comm. de presse
                            span.category.uc
                              a(href='/entreprises/industrie') Industrie
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/communique/bilan-mitige-pour-aperam-a-cause-dune-panne-technique') Bilan mitigé pour Aperam à cause d’une panne technique
                          .extended-wrapper
                            span.date.uc
                              | 10.11.2017
                            .clearfix
                            .clearfix
            .see-more
              a(href='/entreprises')
                | Voir plus de 
                span.uc.bolder Entreprises
            hr.bottom-line
          #block-views-pj-homepage-pj-home-luxembourg.block.block-views.col-md-4
            hr.top-line
            h2.block-title.uc
              span
                a(href='/luxembourg')
                  | Luxembourg
            .content
              .view.view-pj-homepage.view-id-pj_homepage.view-display-id-pj_home_luxembourg.toto.view-dom-id-2ed04d8883aa46234a47923acb74281c
                .view-content
                  .views-row.views-row-1.views-row-odd.views-row-first
                    article#node-161116.node.node-sponsored-news.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/sponsored-news/hogan-lovells-corporate-practice-partner-marc-elvinger')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/sponsored_news/2017/11/marc_elvinger_2017_hd_-_cropped.jpg?itok=uwlwgfI0&sc=c20121f09bf0a504461480f6ee66e693&ctok=1510581721', width='200', height='133', alt='', title='')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/video-ads') Sponsored News
                            span.category.uc
                              a(href='/luxembourg/justice') Justice
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/sponsored-news/hogan-lovells-corporate-practice-partner-marc-elvinger') Hogan Lovells corporate practice partner, Marc Elvinger
                          .extended-wrapper
                            span.date.uc
                              | 15:00
                            .clearfix
                            .clearfix
                  .views-row.views-row-2.views-row-even
                    article#node-161184.node.node-news.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/news/juncker-loin-de-ses-concitoyens')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/news/2017/11/juncker_liberation.jpg?itok=FsG7RLQ8&sc=b18dec1a4344846569a0d191f1420d03&ctok=1510557603', width='200', height='133', alt='Jean-Claude Juncker ', title='Libération regrette l’absence de Jean-Claude Juncker des médias francophones.')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/news') News
                            span.category.uc
                              a(href='/luxembourg/europe') Europe
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/news/juncker-loin-de-ses-concitoyens') Juncker, loin de ses concitoyens?
                          .extended-wrapper
                            span.date.uc
                              | 05:06
                            .clearfix
                            .clearfix
                  .views-row.views-row-3.views-row-odd
                    article#node-161182.node.node-photo-du-jour.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/photo-du-jour/toujours-bataclan')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/photo_du_jour/2017/11/capture_decran_2017-11-12_a_20.24.53.png?itok=D2dSTeV2&sc=1fcaed3f5f51f981440d8157e2454769&ctok=1510556582', width='200', height='133', alt='', title='')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/photo-du-jour') Photo du jour
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/photo-du-jour/toujours-bataclan') Toujours Bataclan
                          .extended-wrapper
                            span.date.uc
                              | 12.11.2017
                            .clearfix
                            .clearfix
                  .views-row.views-row-4.views-row-even
                    article#node-161176.node.node-chiffre-du-jour.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/chiffre/rendez-vous-en-2022')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/chiffre_du_jour/2017/11/3_0_1510556559.jpg?itok=_6VcjVpr&ctok=1510556558', width='200', height='133', alt='', title='')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/chiffre') Chiffre du jour
                            span.category.uc
                              a(href='/luxembourg/culture') Culture
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/chiffre/rendez-vous-en-2022') Rendez-vous en 2022
                          .extended-wrapper
                            span.date.uc
                              | 12.11.2017
                            .clearfix
                            .clearfix
            .see-more
              a(href='/luxembourg')
                | Voir plus de 
                span.uc.bolder Luxembourg
            hr.bottom-line
          #block-views-pj-homepage-pj-home-place.block.block-views.col-md-4
            hr.top-line
            h2.block-title.uc
              span
                a(href='/place-financiere')
                  | Place Financière
            .content
              .view.view-pj-homepage.view-id-pj_homepage.view-display-id-pj_home_place.toto.view-dom-id-c7ca0bd5b3089ed3643245d50101dd60
                .view-content
                  .views-row.views-row-1.views-row-odd.views-row-first
                    article#node-160976.node.node-3-questions-a.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/questions/le-progres-se-fait-grace-aux-avantages-concurrentiels')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/3_questions_a/2017/11/ewen_claude_orateur.jpg?itok=X8jVx6W3&sc=a4f317bab336bb426aa630049d7ab85d&ctok=1510559346', width='200', height='133', alt='Claude Ewen, de Columbia Threadneedle Investments.', title='«Grâce à cette concentration de haute qualité, le fonds vise à capturer une croissance supérieure et durable, quelle que soit la conjoncture économique», explique Claude Ewen, de Columbia Threadneedle Investments.')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/questions') 3 questions à...
                            span.category.uc
                              a(href='/place-financiere/banque') Banque
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/questions/le-progres-se-fait-grace-aux-avantages-concurrentiels') «Le progrès se fait grâce aux avantages concurrentiels»
                          .extended-wrapper
                            span.date.uc
                              | 12.11.2017
                            .clearfix
                            .clearfix
                  .views-row.views-row-2.views-row-even
                    article#node-161050.node.node-sponsored-news.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/sponsored-news/6-conseils-pour-gerer-votre-patrimoine-par-lassurance-vie')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/sponsored_news/2017/11/luca_bertacchi_5468.jpg?itok=VgK5z4vF&sc=708251041a2b783d8096df4020f59491&ctok=1510322401', width='200', height='133', alt='', title='')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/video-ads') Sponsored News
                            span.category.uc
                              a(href='/place-financiere/assurance') Assurance
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/sponsored-news/6-conseils-pour-gerer-votre-patrimoine-par-lassurance-vie') 6 conseils pour gérer votre patrimoine par l’assurance-vie
                          .extended-wrapper
                            span.date.uc
                              | 10.11.2017
                            .clearfix
                            .clearfix
                  .views-row.views-row-3.views-row-odd
                    article#node-161110.node.node-communique-de-presse.node-promoted.node-teaser.teaser.no-picture-on-homepage.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/communique/les-bilans-des-etablissements-de-credit-sont-en-baisse')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/communique_de_presse/2017/11/bcl_mmarchives.jpg?itok=3zxzyKsD&sc=5ed7e478aae80fb3872c4442d254ac98&ctok=1510554680', width='200', height='133', alt='BCL', title='Pour ce qui est du passif, les dépôts du secteur non bancaire résident ont baissé de 4.274 millions d’euros, soit 1,8%, entre le 31 août 2017 et le 30 septembre 2017.')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/communique-de-presse') Comm. de presse
                            span.category.uc
                              a(href='/place-financiere/banque') Banque
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/communique/les-bilans-des-etablissements-de-credit-sont-en-baisse') Les bilans des établissements de crédit sont en baisse
                          .extended-wrapper
                            span.date.uc
                              | 10.11.2017
                            .clearfix
                            .clearfix
                  .views-row.views-row-4.views-row-even
                    article#node-160884.node.node-3-questions-a.node-promoted.node-teaser.teaser.clearfix
                      .inner
                        .cover
                          a.cover-image-link(href='/questions/minimiser-le-risque-de-perte-permanente-du-capital')
                            img(src='http://paperjam.lu/sites/default/files/styles/200_133_echelle_recadrage/public/nodes/3_questions_a/2017/11/pottie_katrien.jpg?itok=BfpP_M1q&sc=a4f317bab336bb426aa630049d7ab85d&ctok=1510318518', width='200', height='133', alt='Katrien Pottie (Amundi)', title='Katrien Pottie: «Investir dans des titres dont le prix offre une décote matérielle par rapport à leur valeur intrinsèque»')
                          .categs-wrapper
                            span.content-type.uc
                              a(href='http://paperjam.lu/questions') 3 questions à...
                            span.category.uc
                              a(href='/place-financiere/fonds') Fonds
                            .clearfix
                        .properties
                          .title
                            h2
                              a(href='/questions/minimiser-le-risque-de-perte-permanente-du-capital') «Minimiser le risque de perte permanente du capital»
                          .extended-wrapper
                            span.date.uc
                              | 10.11.2017
                            .clearfix
                            .clearfix
            .see-more
              a(href='/place-financiere')
                | Voir plus de 
                span.uc.bolder Place Financière
            hr.bottom-line
      #sidebar.col-md-4
        .region.region-after-content-sidebar
          #block-dfp-imu.block.block-dfp
            #dfp-ad-imu-wrapper.dfp-tag-wrapper
              #dfp-ad-imu.dfp-tag-wrapper(style='display: none;')
                div(id='google_ads_iframe_105719324/PJIMU_0__container__', style='border: 0pt none;')
                  iframe(id='google_ads_iframe_105719324/PJIMU_0', title='3rd party ad content', name='google_ads_iframe_105719324/PJIMU_0', width='300', height='250', scrolling='no', marginwidth='0', marginheight='0', frameborder='0', srcdoc='', kwframeid='8', style='border: 0px; vertical-align: bottom;')
          #block-pj-birthdays-pj-birthdays-sidebar.block.block-pj-birthdays
            hr.top-line
            #block-dfp-sb-birthday-header.block.block-dfp
              #dfp-ad-sb_birthday_header-wrapper.dfp-tag-wrapper
                a(href='http://pubads.g.doubleclick.net/gampad/jump?iu=/105719324/PJ-W-BIRTHDAY-HEADER&sz=150x30&c=81036')
                  img(src='http://pubads.g.doubleclick.net/gampad/ad?iu=/105719324/PJ-W-BIRTHDAY-HEADER&sz=150x30&c=81036', style='display: none !important;')
            h2.block-title.uc
              span
                a(href='#') Anniversaires
            .content
              article#node-98558.node.node-biography.node-teaser.teaser.teaser.node-carriere.pj_teaser_footer.clearfix
                .cover
                  a.cover-image-link(href='http://guide.paperjam.lu/biography/jad-nader')
                    img.img-circle(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/bio/photos/2016/01/jad-nader-25144-1535752725.jpg?itok=QnLYpfL3&sc=1d6d7c2a5c246ed811c5355ed95c33c1', width='65', height='65', alt='Jad Nader', title='Jad Nader')
                .inner
                  .categs-wrapper
                    .clearfix
                  .properties
                    .title
                      h2
                        a(href='http://guide.paperjam.lu/biography/jad-nader') Jad Nader
                    .surtitle.uc
                      | Counsel
                      br
                      strong NautaDutilh Avocats Luxembourg
                  .clearfix
              article#node-77055.node.node-biography.node-teaser.teaser.teaser.node-carriere.pj_teaser_footer.clearfix
                .cover
                  a.cover-image-link(href='http://guide.paperjam.lu/biographie/jean-claude-lucius')
                    img.img-circle(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/old-files/guide/biographies/jean-claude-lucius-507-1281567657.jpg?itok=jumI4cbJ&sc=d08f373a659d74aa5de20231fd8564d9', width='65', height='65', alt='Jean-Claude Lucius', title='Jean-Claude Lucius')
                .inner
                  .categs-wrapper
                    .clearfix
                  .properties
                    .title
                      h2
                        a(href='http://guide.paperjam.lu/biographie/jean-claude-lucius') Jean-Claude Lucius
                    .surtitle.uc
                      | Administrateur Délégué
                      br
                      strong IF Group
                  .clearfix
              .see-more
                a(href='http://paperjam.lu/anniversaires')
                  | Voir tous les 
                  span.uc.bolder anniversaires
            hr.bottom-line
          #block-views-top-5-block-sidebar.block.block-views
            hr.top-line
            h2.block-title.uc
              span
                | Top 5 des plus lus
            .content
              .view.view-top-5.view-id-top_5.view-display-id-block_sidebar.view-dom-id-13ccaada20f08519987c590b8057a378
                .view-content
                  .views-row.views-row-1.views-row-odd.views-row-first
                    article#node-160864.node.node-picture-report.pj_teaser_top5.teaser.clearfix
                      .cover
                        a.cover-image-link(href='/picture-report/vernissage-luxembourg-art-week-reception-atoz-et-diner-des-collectionneurs')
                          img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/picture_report/2017/11/luxembourg-art-week-vernissage-reception-atoz-et-diner-des-collectionneurs--03-04-11-2017.jpg?itok=KQPA0Szn&sc=072d3078fd8af3847b286bc356566a57&ctok=1510071694', width='65', height='65', alt='', title='')
                          .picto_ct.picture_20x20
                      .inner
                        .categs-wrapper
                          .content-type.uc
                            a(href='http://paperjam.lu/picture-report') Picture reports
                          .category.uc
                            .field.field-name-field-picture-report-category.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                              ul.links
                                li.taxonomy-term-reference-0
                                  a(href='/luxembourg/culture') Culture
                          .clearfix
                        .properties
                          .title
                            h2
                              a(href='/picture-report/vernissage-luxembourg-art-week-reception-atoz-et-diner-des-collectionneurs') Vernissage Luxembourg Art Week, réception Atoz et dîner des collectionneurs
                          span.date.uc.clearfix  07.11.2017 
                          .clearfix
                  .views-row.views-row-2.views-row-even
                    article#node-161132.node.node-picture-report.pj_teaser_top5.teaser.clearfix
                      .cover
                        a.cover-image-link(href='/picture-report/delano-live-0')
                          img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/picture_report/2017/11/delano_live_-_09.11.17-47.jpg?itok=0DEwHJe6&sc=a3553dca074505584224a886f8f498e7&ctok=1510332797', width='65', height='65', alt='', title='')
                          .picto_ct.picture_20x20
                      .inner
                        .categs-wrapper
                          .content-type.uc
                            a(href='http://paperjam.lu/picture-report') Picture reports
                          .category.uc
                            .field.field-name-field-picture-report-category.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                              ul.links
                                li.taxonomy-term-reference-0
                                  a(href='/entreprises/communication') Communication
                          .clearfix
                        .properties
                          .title
                            h2
                              a(href='/picture-report/delano-live-0') Delano Live
                          span.date.uc.clearfix  10.11.2017 
                          .clearfix
                  .views-row.views-row-3.views-row-odd
                    article#node-161188.node.node-3-questions-a.node-promoted.pj_teaser_top5.teaser.clearfix
                      .cover
                        a.cover-image-link(href='/questions/accompagner-la-croissance-des-start')
                          img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/3_questions_a/2017/11/tollet_valerie_high_res2.jpg?itok=5Ilx1JhH&sc=45b0082518dd7f66416c14b6f31be086&ctok=1510557945', width='65', height='65', alt='Valérie Tollet, Deloitte Luxembourg', title='«Se connecter rapidement avec le marché permet surtout de se connecter avec des investisseurs», relève Valérie Tollet.')
                      .inner
                        .categs-wrapper
                          .content-type.uc
                            a(href='http://paperjam.lu/questions') 3 questions à...
                          .category.uc
                            .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                              ul.links
                                li.taxonomy-term-reference-0
                                  a(href='/entreprises/start-up') Start-up
                          .clearfix
                        .properties
                          .title
                            h2
                              a(href='/questions/accompagner-la-croissance-des-start') «Accompagner la croissance des start-up»
                          span.date.uc.clearfix  07:41 
                          .clearfix
                  .views-row.views-row-4.views-row-even
                    article#node-161050.node.node-sponsored-news.node-promoted.pj_teaser_top5.teaser.clearfix
                      .cover
                        a.cover-image-link(href='/sponsored-news/6-conseils-pour-gerer-votre-patrimoine-par-lassurance-vie')
                          img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/sponsored_news/2017/11/luca_bertacchi_5468.jpg?itok=4u_37q4i&sc=708251041a2b783d8096df4020f59491&ctok=1510322401', width='65', height='65', alt='', title='')
                      .inner
                        .categs-wrapper
                          .content-type.uc
                            a(href='http://paperjam.lu/video-ads') Sponsored News
                          .category.uc
                            .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                              ul.links
                                li.taxonomy-term-reference-0
                                  a(href='/place-financiere/assurance') Assurance
                          .clearfix
                        .properties
                          .title
                            h2
                              a(href='/sponsored-news/6-conseils-pour-gerer-votre-patrimoine-par-lassurance-vie') 6 conseils pour gérer votre patrimoine par l’assurance-vie
                          span.date.uc.clearfix  10.11.2017 
                          .clearfix
                  .views-row.views-row-5.views-row-odd.views-row-last
                    article#node-161186.node.node-news.node-promoted.pj_teaser_top5.teaser.clearfix
                      .cover
                        a.cover-image-link(href='/news/brexit-barnier-se-prepare-a-un-no-deal')
                          img(src='http://paperjam.lu/sites/default/files/styles/65_65_echelle_recadrage/public/nodes/news/2017/11/barnier_davisbrexit.jpg?itok=djVTZrxg&sc=b50ba7a99375cde5e5568147f9525560&ctok=1510554781', width='65', height='65', alt="David Davis, le ministre britannique chargé du Brexit et Michel Barnier, négociateur en chef de l'Union européenne.", title='Le Royaume-Uni, représenté à gauche par David Davis, ministre britannique chargé du Brexit, et l’Union européenne, représentée par Michel Barnier, ont du mal à s’entendre.')
                      .inner
                        .categs-wrapper
                          .content-type.uc
                            a(href='http://paperjam.lu/news') News
                          .category.uc
                            .field.field-name-field-news-main-categorie.field-type-taxonomy-term-reference.field-label-hidden.clearfix
                              ul.links
                                li.taxonomy-term-reference-0
                                  a(href='/luxembourg/europe') Europe
                          .clearfix
                        .properties
                          .title
                            h2
                              a(href='/news/brexit-barnier-se-prepare-a-un-no-deal')
                                | Brexit: Barnier se prépare à un «no 
                                .break-title
                                  | deal» 
                                  span.picto.first-picto
                                    img(src='http://paperjam.lu/sites/default/files/styles/picto_title_14_echelle/public/video.png?itok=GTHee41z', alt='Vidéo', title='Vidéo')
                          span.date.uc.clearfix  05:51 
                          .clearfix
            hr.bottom-line