#mod-casino-carousel-271181-container.mod
  #mod-casino-carousel-271181.mod-casino-carousel.mod-casino-carousel-casino-carousel
    .jackpots.nlb.carousel-container
      #mod-box-271232-container.mod
        #mod-box-271232.mod-box.mod-box-box
          .single.carousel.large
            .scroller
              .box.b1
                div
                  a.gamesi13n.gamesi13n-sec-Carousel.gamesi13n-pageArea-Main.gamesi13n-tab-1.gamesi13n-placement-1.gamesi13n-action-bannerClick(href=Link.url(slice.primary.link, ctx.linkResolver), target='_blank')
                    div(style='background: url(' + slice.primary.image.url + ') 0 0 no-repeat')
                  p.clear       
            p.clear