|         
#mod-casino-game-launcher-271200-container.mod
  #mod-casino-game-launcher-271200.mod-casino-game-launcher.mod-casino-game-launcher-casino-game-launcher
|         
#mod-casino-play-271201-container.mod
  #mod-casino-play-271201.mod-casino-play.mod-casino-play-casino-play
|         
#mod-casino-home-bottom-content-module-271202-container.mod
  #mod-casino-home-bottom-content-module-271202.mod-casino-home-bottom-content-module.mod-casino-home-bottom-content-module-casino-home-bottom-content-module
    .casino-module
      .header
        h3.title
          | Betfair Casino
      |               
      .body
        span.section-subtitle
          h1 Play Online Casino Games
        |                 
        .smaller(style='color: #1a4879;')
          p
            | Betfair online Casino is where the all the action is at. You&rsquo;ll find a huge collection of the most exciting Casino games from old classics to the latest releases 24/7.
          |                   
          p
            | Experience the thrill from the comfort of your home or play on the go with our mobile casino. Plus, when you create a Betfair account, you can claim your 100% welcome bonus up to &pound;100.
          |                   
          p Sound good? Here&rsquo;s just some of what&rsquo;s on offer:
        |                 
        .smaller
          span.options-title At a glance
          |                   
          ul
            li
              | Table Games - including: Blackjack, Baccarat, Roulette, Casino Hold&apos;em and Craps.
            |                     
            li Slots Games - including: Progressive Jackpot Slots, Video Slots and Video Poker.
          |                   
          ul
            li Arcade Games - including: Scratch cards, Darts and Keno.
            |                     
            li Mobile Games - including: Mobile Blackjack, Mobile Roulette and Mobile Slots.
          |                   
          span.options-title Live Casino
          |                   
          p
            | Get the real-life suspense of a physical Casino from wherever you are. With access to loads of Live Dealer tables, it&rsquo;s like Vegas from the comfort of your home or mobile device.
          |                   
          p
            | Delivered in stunning HD and using cutting-edge RFID technology, our highly trained Live Dealers guarantee edge-of-your-seat action at the press of a button.
          |                   
          p
            | You can choose from Live Blackjack, Live Roulette, Live Baccarat, Sico-Bo and Live Hold&rsquo;em games to keep the thrill going 24 hours a day.
          |                   
          br
          |                   
          span.options-title Promotions
          |                   
          p
            | We love rewarding our players and bring you brand new promotions every single week giving you more for your money with 
            a(title='Bonuses', href='https://casino.betfair.com/promotions/', target='_self') free spins, bonuses
            |  and the chance to win some of the hottest gadgets around. Make sure you check in regularly to see what&rsquo;s on offer.
          |                   
          br
          |                   
          span.options-title Play for free
          |                   
          p
            | As well as real money online casino games, Betfair Casino also has a big selection of free casino games. Using virtual chips, novice players can ante-up and experience the thrills of Blackjack, Roulette, Slots and more.
          |                   
          br
          |                   
          span.options-title Slots
          |                   
          p
            | Fancy a thrill injection? Explore the giant (and we mean giant) selection of online casino Slots games on offer.
          |                   
          p Here&rsquo;s a taste of just a few of our most popular Casino Slots games:
          |                   
          ul(style='width: 100%;')
            li Frankie Dettori&rsquo;s Magic Seven
            |                     
            li Jackpot Giant
            |                     
            li Gladiator
            |                     
            li Mr Cashback Slots
          |                   
          span.options-title Jackpot Slots
          |                   
          p
            | There&rsquo;s a huge range of Jackpot Slots games just waiting to be played. With massive jackpots, giant bonus rounds and huge potential winnings, this is where dreams happen.
          |                   
          br
          |                   
          span.options-title
            | There&rsquo;s more to play for at Betfair online Casino
            br
|         
#mod-casino-download-desktop-client-271203-container.mod
  #mod-casino-download-desktop-client-271203.mod-casino-download-desktop-client.mod-casino-download-desktop-client-casino-download-desktop-client