#mod-ribbon-271169-container.mod
  #mod-ribbon-271169.mod-ribbon.mod-ribbon-casino-ribbon.mod-ribbon.mod-ribbon-casino-ribbon.gamesi13n.mod-ribbon.mod-ribbon-casino-ribbon.gamesi13n-sec-Ribbon
    .ribbon-wrapper
      ul.top.items-11
        li.menu-item.gamesi13n-action-NavClick.gamesi13n-sec.extra-HOME.selected
          a.menu-item-link.menu-item-link.gamesi13n-ltxt-home.ga-pro.gamesi13n-tab-home.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav.gamesi13n-placement-TabCasino1(href='/', class='gamesi13n-sec-sub_nav_/_home')
            .icon
            |               
            span.category-name-wrap
              span.category-name Casino
        |           
        li.menu-item.gamesi13n-action-NavClick.gamesi13n-sec.extra-PROMOTIONS
          a.menu-item-link.menu-item-link.gamesi13n-ltxt-promotions.ga-pro.gamesi13n-tab-promotions.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav.gamesi13n-placement-TabCasino3(href='/promotions/', class='gamesi13n-sec-sub_nav_/_promotions')
            .icon
            |               
            .promotions-number 4
            |               
            span.category-name-wrap
              span.category-name Promotions
        |           
        .chunk-dump(data-jurisdiction='INTERNATIONAL', data-country-code='GB')
          li.menu-item.categ-NEWGAMES
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-new_games.ga-pro.gamesi13n-tab-new_games.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/new-games/', class='gamesi13n-sec-sub_nav_/_new_games')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name New Games
          |             
          li.menu-item.categ-SLOTS
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-slots.ga-pro.gamesi13n-tab-slots.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/slots/', class='gamesi13n-sec-sub_nav_/_slots')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Slots
          |             
          li.menu-item.categ-JACKPOT
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-jackpots.ga-pro.gamesi13n-tab-jackpots.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/jackpots/', class='gamesi13n-sec-sub_nav_/_jackpots')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Jackpots
          |             
          li.menu-item.categ-TABLE
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-table.ga-pro.gamesi13n-tab-table.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/table/', class='gamesi13n-sec-sub_nav_/_table')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Table
          |             
          li.menu-item.categ-LIVE
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-live_casino.ga-pro.gamesi13n-tab-live_casino.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/live-casino/', class='gamesi13n-sec-sub_nav_/_live_casino')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Live Casino
          |             
          li.menu-item.categ-CARD
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-card.ga-pro.gamesi13n-tab-card.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/card/', class='gamesi13n-sec-sub_nav_/_card')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Card
          |             
          li.menu-item.categ-ARCADE
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-arcade.ga-pro.gamesi13n-tab-arcade.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/arcade/', class='gamesi13n-sec-sub_nav_/_arcade')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Arcade
          |             
          li.menu-item.categ-VIDEOPOKER
            .menu-item-wrapper
              a.menu-item-link.menu-item-link.gamesi13n-ltxt-video_poker.ga-pro.gamesi13n-tab-video_poker.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav(href='https://casino.betfair.com/video-poker/', class='gamesi13n-sec-sub_nav_/_video_poker')
                span.icon
                |  
                span.category-name-wrap
                  span.category-name Video Pokers
        |           
        li.menu-item.gamesi13n-action-NavClick.gamesi13n-sec.extra-VIP_WELCOME
          a.menu-item-link.menu-item-link.gamesi13n-ltxt-vipclub.ga-pro.gamesi13n-tab-vipclub.gamesi13n-pageArea-Main.gamesi13n-action-NavigationClick.gamesi13n-sectionName-Nav.gamesi13n-placement-TabCasino12(href='/vip/', class='gamesi13n-sec-sub_nav_/_vipclub')
            .icon
            |               
            span.category-name-wrap
              span.category-name Club
        |           
        li.search-element
          .ribbon-search
            #mod-casino-search-271175-container.mod
              #mod-casino-search-271175.mod-casino-search.mod-casino-search-casino-search.mod-casino-search.mod-casino-search-casino-search.gamesi13n.mod-casino-search.mod-casino-search-casino-search.gamesi13n-sec-search
                .search-container
                  .search-container-shadow
                    form.search-form(method='get', action='#')
                      input.search-input(type='text', placeholder='Search', maxlength='50')
                      |                         
                      input.search-button(type='button', value='')
                |                   
                .search-overlay.ga-pro.gamesi13n.gamesi13n-action-click.gamesi13n-sec-Search.gamesi13n-pageArea-Main.gamesi13n-reference-Close.gamesi13n-tab-Background
                |                   
                .search-area
                  .search-total-results
                    .search-total-results-text
                      | Search results for &quot;
                      span.search-query
                      | &quot;
                  |                     
                  .search-wrapper
                    .search-close.ga-pro.gamesi13n.gamesi13n-action-click.gamesi13n-sec-Search.gamesi13n-pageArea-Main.gamesi13n-reference-Close.gamesi13n-tab-CloseButton
                    |                       
                    .games-search-list
|   